body {
  background-color: #264653;
  text-align: center;
  font-family: "verdana";
}
h1 {
  color: white;
}
.input {
  width: 40vh;
  height: 50px;
  margin: 5px;
  padding: 0px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 18px;
  outline: none;
}
.boton-agregar {
  width: 9vh;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(255, 6, 46);
  color: white;
}
.boton-agregar:hover {
  opacity: 0.9;
}

.item-input {
  width: 35vh;
  height: 50px;
  padding: 0px 20px;
  border: solid 1px white;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background: none;
  outline: none;
}
.item {
  margin-bottom: 10px;
}
.boton-editar {
  margin: 0px 5px;
  border: none;
  background: none;
  color: #62d0ff;
  font-size: 1.4em;
  font-family: sans-serif;
}
.boton-remover {
  width: 50px;
  height: 50px;
  margin: 0px 5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 6, 46);
  font-size: 20px;
}
